@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body,html{
  width: 100%;
  height: 100vh;
}

.nav_left{
  display: flex;
  gap: 26px;
  align-items: center;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 10;
  background: #fff;
}
.nav_left img:first-child{
   width: 25px;
   height: 25px;
}
.nav_left img:nth-child(2){
   width: 150px;
}
.nav_right img:nth-child(4){
  width: 50px;
  border-radius: 50%;
}
.nav_right img{
  width: 30px;
  margin-right: 8px;
}
.nav_right{
  display: flex;
  align-items: center;
}
.serach_input input{
  border-radius: 50px;
  padding: 6px 11px;
  height: 25px;
  width: 500px;
  outline: 0;
  border: 1px solid #ccc;
  position: relative;
}
.serach_input::after{
  content: '';
  position: absolute;
  right: 0;
  background-image: url('./assets/search.png');
  width: 16px;
  height: 16px;
  top: 12px;
  right:10px;
  background-size: contain;
  background-repeat: no-repeat;
}
.serach_input{
  position: relative;
}
.links hr{
  border: 0;
  height: 1px;
  background: #ccc;
}
.side_links img{
  width: 20px;
  margin-right: 20px;
}
.side_links{
margin-bottom: 20px;
display: flex;
align-items: center;
}
.side_links span{
  font-size: 15px;
  font-weight: 400;
}
.sidebar, .small_sidebar{
  display: flex; 
  padding-top: 45px;
  padding-left: 23px;
  background: #f3f1f1;
  width: 200px;
  position: fixed;
  height: 100vh;
  overflow: hidden;
  flex: 1;
  flex-basis: 0.000000001px;
  overflow-y: auto;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  transition: width 0.5s ease, opacity 0.5s ease; 
}
.subscribe h3{
  font-size: 13px;
  margin: 20px 0;
  color: #5a5a5a;
}
.side_link img{
  width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}
.side_link{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: -moz-fit-content;
  width: fit-content;
  flex-wrap: wrap;
  cursor: pointer;
}
.content{
  margin-left: 270px;
  padding-top: 21px;
  margin-right: 50px;
}
.side_links {
  transition: opacity 0.5s ease-in-out;
}
.small_sidebar .side_links span {
  opacity: 0; 
}

.sidebar .side_links span {
  opacity: 1; 
  transition: opacity 0.5s ease-in-out; 
  transform: translateX(0);
}
.small_sidebar{
  width: 50px;
}
.small_sidebar .side_link p{
  opacity: 0;
}
.small_sidebar .subscribe h3{
  display: none;
}
.small_sidebar .links hr{
  width: 50%;
  margin-bottom: 25px;
}
.feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  transition: grid-template-columns 0.5s ease;
  max-width: 1600px;
  margin: auto;
}
a {
  text-decoration: none;
  color: #5a5a5a;
}
.card img {
  width: 100%;
  border-radius: 5px;
}
.card h2 {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin: 5px 0;
}
.card h3 {
  font-size: 14px;
  font-weight: 600;
  color: #555;
  margin: 6px 0;
}
.card p {
  font-size: 14px;
}
.large_container .content{
  margin-left: 121px;
  transition: margin-left 0.5s ease;
}
.container .content{
  transition: margin-left 0.5s ease;
}
.play_container {
  background: #f9f9f9;
  display: flex
;
  justify-content: space-between;
  flex-wrap: wrap;
}
.play_video {
  flex-basis: 69%;
}
.play_video video {
  width: 100%;
}
.play_video h3 {
  margin-top: 10px;
  font-weight: 600;
  font-size: 22px;
}
.play_video_info {
  display: flex
;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 14px;
  color: #5a5a5a;
}
.play_video_info span {
  display: flex
;
  align-items: center;
  gap: 10px;
}
.play_video_info img {
  width: 20px;
}
.play_video hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}
.publisher {
  display: flex
;
  align-items: center;
  margin-top: 20px;
}
.publisher img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.publisher div {
  flex: 1;
  line-height: 18px;
}
.publisher p {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}
.publisher div span {
  font-size: 13px;
  color: #5a5a5a;
}
.publisher button {
  background: red;
  color: #fff;
  padding: 8px 30px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  cursor: pointer;
}
.vide_discription {
  padding-left: 55px;
  margin: 15px 0;
}
.vide_discription p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #5a5a5a;
}
.vide_discription h4 {
  font-size: 14px;
  color: #5a5a5a;
  margin-top: 15px;
}
.comment {
  display: flex
;
  align-items: flex-start;
  margin: 20px 0;
}
.comment img {
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}
.comment h3 {
  font-size: 14px;
  margin-bottom: 2px;
}
.comment_action img {
  border-radius: 0;
  width: 20px;
  margin-right: 5px;
}
.comment_action {
  display: flex
;
  align-items: center;
  margin: 8px 0;
  font-size: 14px;
}
.comment_action span {
  margin-right: 20px;
  color: #5a5a5a;
}
.recommended {
  flex-basis: 30%;
}
.side_video_list {
  display: flex
;
  justify-content: space-between;
  margin-bottom: 8px;
}
.side_video_list img {
  flex-basis: 49%;
  width: 50%;
}
.vide_info {
  flex-basis: 49%;
}
.vide_info h4 {
  font-size: 13px;
  margin-bottom: 5px;
}